<div class="container px-5 py-24 mx-auto">

    {{!-- header --}}
    <div class="flex flex-wrap w-full mb-10 flex-col items-center text-center">
    <h1 class="sm:text-3xl text-2xl font-medium title-font mb-2 text-gray-900">Online book archive</h1>
    <p class="lg:w-1/2 w-full leading-relaxed text-gray-500">Whatever cardigan tote bag tumblr hexagon brooklyn asymmetrical gentrify, subway tile poke farm-to-table.</p>
    </div>
        <a href="/store">
            <button class="text-white bg-gradient-to-br from-purple-600 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">
                Add book
            </button>
        </a>
        <section class="text-gray-600 body-font overflow-hidden">

            <div>
                <input type="search" class="form-control block w-full border border-solid border-indigo-500 outline-none py-2 px-3" placeholder="Search Book">
            </div>

            <div class="container px-5 py-24 mx-auto">
                <div class="-my-8 divide-y-2 divide-gray-100">


                    {{#each books}}
                        {{!-- book container --}}
                        <div class="py-8 flex flex-wrap md:flex-nowrap">
                            <div class="md:w-64 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
                            <span class="font-semibold title-font text-gray-700">Author</span>
                            <span class="mt-1 text-gray-500 text-sm">{{author}}</span>
                            </div>
                            <div class="md:flex-grow">
                            <h2 class="text-2xl font-medium text-gray-900 title-font mb-2">{{title}}</h2>
                            <p class="leading-relaxed">Glossier echo park pug, church-key sartorial biodiesel vexillologist pop-up snackwave ramps cornhole. Marfa 3 wolf moon party messenger bag selfies, poke vaporware kombucha lumbersexual pork belly polaroid hoodie portland craft beer.</p>
                            <p class="leading-relaxed font-bold">{{catalogue_number}}</p>
                            <a href="#" class="text-indigo-500 inline-flex items-center mt-4">Learn More
                                <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path d="M5 12h14"></path>
                                <path d="M12 5l7 7-7 7"></path>
                                </svg>
                            </a>
                            </div>
                        </div>
                    {{/each}}

                </div>
            </div>
        </section>
</div>
