<div class="overlay"></div>
<div class="modal">
    <div class="modal-title">
        <h1 class="modal-title-title">Test modal</h1>
    </div>
    <div class="modal-close">
        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M13.7071 1.70711C14.0976 1.31658 14.0976 0.683417 13.7071 0.292893C13.3166 -0.0976311 12.6834 -0.0976311 12.2929 0.292893L7 5.58579L1.70711 0.292893C1.31658 -0.0976311 0.683417 -0.0976311 0.292893 0.292893C-0.0976311 0.683417 -0.0976311 1.31658 0.292893 1.70711L5.58579 7L0.292893 12.2929C-0.0976311 12.6834 -0.0976311 13.3166 0.292893 13.7071C0.683417 14.0976 1.31658 14.0976 1.70711 13.7071L7 8.41421L12.2929 13.7071C12.6834 14.0976 13.3166 14.0976 13.7071 13.7071C14.0976 13.3166 14.0976 12.6834 13.7071 12.2929L8.41421 7L13.7071 1.70711Z" fill="black"></path>
        </svg>
    </div>
    <div class="modal-content">
        <p class="author">Here shall the content be spawning</p>
        <p class="year">Here shall the content be spawning</p>
    </div>
</div>


<div class="container px-5 py-24 mx-auto">

    {{!-- header --}}
    <div class="flex flex-wrap w-full mb-10 flex-col items-center text-center">
        <h1 class="sm:text-3xl text-2xl font-medium title-font mb-2 text-gray-900">Online book archive</h1>
        <p class="lg:w-1/2 w-full leading-relaxed text-gray-500">Whatever cardigan tote bag tumblr hexagon brooklyn asymmetrical gentrify, subway tile poke farm-to-table.</p>
    </div>
        <a href="/store">
            <button class="text-white bg-gradient-to-br from-purple-600 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">
                Add book
            </button>
        </a>
        <section class="text-gray-600 body-font overflow-hidden">

            <div>
                <input type="search" id="search" class="form-control block w-full border border-solid border-indigo-500 outline-none py-2 px-3" placeholder="Search Book">
            </div>

            <div class="container px-5 py-24 mx-auto">
                <div id="book-container" class="-my-8 divide-y-2 divide-gray-100">
                    

                    {{#each books}}
                        {{!-- book container --}}
                        <div class="mb-4 py-8 px-2 flex flex-wrap md:flex-nowrap book">
                            <div class="md:w-64 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
                                <span class="font-semibold title-font text-gray-700">Year of publication</span>
                                <span class="mt-1 text-gray-500 text-sm">{{year_publication}}</span>
                            </div>
                            <div class="md:flex-grow">
                                <h2 class="text-2xl font-medium text-gray-900 title-font mb-2">{{title}}</h2>
                                <p class="leading-relaxed">Glossier echo park pug, church-key sartorial biodiesel vexillologist pop-up snackwave ramps cornhole. Marfa 3 wolf moon party messenger bag selfies, poke vaporware kombucha lumbersexual pork belly polaroid hoodie portland craft beer.</p>
                                <p class="leading-relaxed font-bold">{{catalogue_number}}</p>
                                <a href="#" id="open-modal" data-id="{{_id}}" class="text-indigo-500 inline-flex items-center mt-4">Learn More
                                    <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path d="M5 12h14"></path>
                                    <path d="M12 5l7 7-7 7"></path>
                                    </svg>
                                </a>
                            </div>
                        </div>
                    {{/each}}

                </div>
            </div>
        </section>
</div>

<script src="/public/js/search.js"></script>
<script src="/public/js/modal.js"></script>
