<!-- page -->
<main class="relative min-h-screen w-full bg-white">
  <!-- component -->
  <div class="p-6" x-data="app">

    <section class=" w-full absolute top-1/2 left-1/2 mx-auto max-w-sm -translate-x-1/2 -translate-y-1/2 transform space-y-4 text-center">

      <form class="w-full" id="storebook" action="/store" method="post">

              <!-- register content -->
      <div class="space-y-4">
        <header class="mb-3 text-2xl font-bold">Add book</header>

        <div class="w-full rounded-2xl bg-gray-50 px-4 ring-2 ring-gray-200">
          <input
            type="text"
            placeholder="Title"
            name="title"
            class="my-3 w-full border-none bg-transparent outline-none focus:outline-none"
            id="title"
            required
          />
        </div>

        <div class="w-full rounded-2xl bg-gray-50 px-4 ring-2 ring-gray-200">
          <input
            type="text"
            placeholder="Author"
            name="author"
            class="my-3 w-full border-none bg-transparent outline-none focus:outline-none"
            id="author"
            required
          />
        </div>

        <div class="w-full rounded-2xl bg-gray-50 px-4 ring-2 ring-gray-200">
          <input
            type="text"
            placeholder="Printer"
            name="printer"
            class="my-3 w-full border-none bg-transparent outline-none focus:outline-none"
            id="printer"
          />
        </div>

        <div class="w-full rounded-2xl bg-gray-50 px-4 ring-2 ring-gray-200">
          <input
            type="text"
            placeholder="Fingerprint"
            name="fingerprint"
            class="my-3 w-full border-none bg-transparent outline-none focus:outline-none"
            id="fingerprint"
          />
        </div>

        <div class="w-full rounded-2xl bg-gray-50 px-4 ring-2 ring-gray-200">
          <input
            type="text"
            placeholder="Catalogue Number"
            name="catalogue_number"
            class="my-3 w-full border-none bg-transparent outline-none focus:outline-none"
            id="catalogue_number"
          />
        </div>

        <div class="w-full rounded-2xl bg-gray-50 px-4 ring-2 ring-gray-200">
          <input
            type="text"
            placeholder="Year of publication"
            name="year_publication"
            class="my-3 w-full border-none bg-transparent outline-none focus:outline-none"
            id="year_publication"
          />
        </div>

        <div class="w-full rounded-2xl bg-gray-50 px-4 ring-2 ring-gray-200">
          <input
            type="text"
            placeholder="Place of publication"
            name="place_publication"
            class="my-3 w-full border-none bg-transparent outline-none focus:outline-none"
            id="place_publication"
          />
        </div>

        <div class="w-full rounded-2xl bg-gray-50 px-4 ring-2 ring-gray-200">
          <input
            type="text"
            placeholder="Language"
            name="taal"
            class="my-3 w-full border-none bg-transparent outline-none focus:outline-none"
            id="taal"
          />
        </div>

        <div class="w-full rounded-2xl bg-gray-50 px-4 ring-2 ring-gray-200">
          <input
            type="text"
            placeholder="Subject"
            name="subject"
            class="my-3 w-full border-none bg-transparent outline-none focus:outline-none"
            id="subject"
          />
        </div>

        <div class="w-full rounded-2xl bg-gray-50 px-4 ring-2 ring-gray-200">
          <input
            type="text"
            placeholder="Exterior"
            name="exterior"
            class="my-3 w-full border-none bg-transparent outline-none focus:outline-none"
            id="exterior"
          />
        </div>

        <div class="w-full rounded-2xl bg-gray-50 px-4 ring-2 ring-gray-200">
          <input
            type="text"
            placeholder="Interior"
            name="interior"
            class="my-3 w-full border-none bg-transparent outline-none focus:outline-none"
            id="interior"
          />
        </div>

        <button type="submit" class=" w-full text-white bg-gradient-to-br from-purple-600 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">
            Add book
        </button>
      </div>



      </form>




    </section>

    <section class="w-full" id="saved-container">
    </section>
  </div>


</main>
<script src="/public/js/post.js"></script>